<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <body class="frame">
        <%- include("./partials/header") %>
        <main>
            <div class="project_types">
                <label for="tagSelect">Sort By:</label>
                <select id="tagSelect" onchange="location = this.value;">
                    <% projectTags.sort().forEach(type => { %>
                    <option value="/projects/<%= type %>"><%= type %></option>
                    <% }) %>
                </select>
            </div>
            <div class="content">
                <% projects.forEach((project) => { %>
                <div class="project">
                    <p class="project_title">
                        <a href="<%= project.link %>" target="_blank"
                            ><%= project.name %></a
                        >
                    </p>
                    <p class="project_info">
                        <%= project.date %> / <%= project.tags.join(" . ") %> /
                        <a href="<%= project.src %>" target="_blank">src</a>
                    </p>
                    <p class="project_desc"><%= project.description %></p>
                    <p class="project_contr">
                        <% if (project.contribution) { %>
                        <strong><em>My Contribution:</em></strong> <%=
                        project.contribution %>
                    </p>
                    <% } %>
                </div>
                <% }); %>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
